<html>
<body>
<h3>Merhaba,</h3></br> 

<h3>${comment.sender}</h3> isimli okuyucu <h3>${comment.articles.articleTag}</h3> makalenize asagidaki yorumu yapmistir:

<p>
	<h3>${comment.commenttext}</h3>
</p>

</br></br>

Kullaniciya asagidaki mail adresi uzerinden yanit donebilirsiniz:

<div>
   <a href="mailto:${comment.senderMail}">${comment.senderMail}</a>.
</div>
</body>

</html>