li.comment, li.pingback {
    list-style: none outside none !important;
    margin-bottom: 20px;
    overflow: hidden;
    border: 0;
}
li.comment li, li.pingback li {
    margin: 20px 0 0;
}
.comment .avatar, .pingback .avatar {
    background-color: #D9D9D9;
    border: 1px solid #A6A6A6;
    float: left;
    margin-top: 8px;
    padding: 1px;
}
.comment .message, .pingback .message {
    margin-left: 50px;
}
.comment .message .t, .pingback .message .t {
    background: url("../resources/img/comment.png") no-repeat scroll 0 0 transparent;
    height: 40px;
    margin-right: 10px;
}
.comment .message .t div, .pingback .message .t div {
    background: url("../resources/img/comment.png") no-repeat scroll -990px 0 transparent;
    float: right;
    height: 40px;
    margin-right: -10px;
    width: 10px;
}
.comment .message .i, .pingback .message .i {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F2F2F2;
    border-color: #BFBFBF;
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
    margin: 0 0 0 17px;
    padding: 1px 0;
}
.comment .message .i .i2, .pingback .message .i .i2 {
    margin: -37px 15px 0;
    padding-top: 14px;
    position: relative;
}
.comment .message .i span, .pingback .message .i span {
    font-size: 11px;
}
.comment .message .i .title, .pingback .message .i .title {
    display: block;
    left: 5px;
    position: absolute;
    margin-top: -4px;
    top: 0;
}

.comment .message .i .links, .pingback .message .i .links {
    display: block;
    position: absolute;
    right: 5px;
    top: 0;
}
.comment .message .b, .pingback .message .b {
    background: url("../resources/img/comment.png") no-repeat scroll 0 -40px transparent;
    height: 11px;
    margin-right: 10px;
}
.comment .message .b div, .pingback .message .b div {
    background: url("../resources/img/comment.png") no-repeat scroll -990px -40px transparent;
    float: right;
    height: 11px;
    margin-right: -10px;
    width: 10px;
}
.comment .message p, .comment .message ul, .pingback .message p, .pingback .message ul {
    font-size: 12px;
    line-height: 150%;
    margin-top: 10px;
}
.commentList ul.children {
    clear: both;
    margin: 0 0 0 20px;
}
.commentList ul.children li {
    list-style: none outside none !important;
    margin: 2px 0 0;
}
.commentListAlt .thread-odd .avatar, .commentListRight li .avatar {
    float: right;
}
.commentListAlt .thread-odd .message, .commentListRight li .message {
    margin: 0 50px 0 0;
}
.commentListAlt .thread-odd .message .t, .commentListRight li .message .t {
    background-position: right -60px;
    margin: 0 0 0 10px;
}
.commentListAlt .thread-odd .message .t div, .commentListRight li .message .t div {
    background-position: 0 -60px;
    float: left;
    margin: 0 0 0 -10px;
}
.commentListAlt .thread-odd .message .i, .commentListRight li .message .i {
    margin: 0 17px 0 0;
}
.commentListAlt .thread-odd .message .b, .commentListRight li .message .b {
    background-position: right -100px;
    margin: 0 0 0 10px;
}
.commentListAlt .thread-odd .message .b div, .commentListRight li .message .b div {
    background-position: 0 -100px;
    float: left;
    margin: 0 0 0 -10px;
}
.commentListAlt .thread-odd ul.children, .commentListRight li ul.children {
    margin: 0 20px 0 0;
}